header{
    background-color: white;
}

body{
    background-color: lightgrey;
}

#contact{
    position: relative;
    left: 1450px;
    bottom: 100px;
}

#portfolio{
    position: relative;
    left: 1350px;
}